<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Flask demo PCII</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    {% block title %}
    {% endblock %}
  </head>
    <body>
        <nav>
            <ul class="menu">
                
                {% if ulogin == None %}
                    <li><a class="button" href="/login">Login</a></li>
                {% else %}
                
                    <li><a class="button" href="/logoff">Logoff</a></li>
                    <li><a class="button" href="/gform/Patient">Patient</a></li>
                    <li><a class="button" href="/gform/Doctor">Doctor</a></li>
                    <li><a class="button" href="/gform/Ward">Ward</a></li>
                    <li><a class="button" href="/gform/Appointment">Appointment</a></li>
                    <li><a class="button" href="/Userlogin">Users</a></li>
                    <li><a class="button" style="color:lightblue">User: {{ulogin}}</a></li>
                {% endif %}
            </ul>
        </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>